@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––

RESETS

–––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ––––––––––––––––––––––––––––––––

UTILITY

–––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center-v {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ––––––––––––––––––––––––––––––––

TYPE

–––––––––––––––––––––––––––––––– */
h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 25px;
    line-height: 25px;
  }
}

p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* ––––––––––––––––––––––––––––––––

LINKS

–––––––––––––––––––––––––––––––– */
.link_primary {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fc6c22;
}
.link_primary:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* ––––––––––––––––––––––––––––––––

GLOBAL ELEMENTS

–––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #ebebeb;
}
html.no-scroll, body.no-scroll {
  overflow: hidden;
}

#main {
  width: 100%;
  padding-top: 90px;
  -webkit-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
#main.active {
  -moz-transform: translateX(280px);
  -o-transform: translateX(280px);
  -ms-transform: translateX(280px);
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  padding: 0 50px;
  background: #111;
}
@media (max-width: 1330px) {
  header {
    padding: 0 20px;
  }
}
@media (max-width: 1110px) {
  header {
    padding: 0 0;
  }
}
@media (max-width: 768px) {
  header {
    text-align: center;
  }
}
header .container {
  max-width: 100%;
}
header .logo {
  float: left;
}
header nav {
  float: right;
}
header nav li {
  display: inline-block;
  margin-left: 50px;
  font-size: 14px;
  line-height: 90px;
  font-weight: 700;
}
header nav li a {
  color: white;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header nav li a:hover {
  color: #fc6c22;
}
header nav li a.active {
  color: #fc6c22;
}
@media (max-width: 768px) {
  header .logo {
    float: none;
  }
  header nav {
    display: none;
  }
}

#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  padding-top: 90px;
  border-right: 1px solid #ddd;
  background: white;
  overflow: scroll;
  -moz-transform: translateX(-280px);
  -o-transform: translateX(-280px);
  -ms-transform: translateX(-280px);
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
  -webkit-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
#mobile-nav h3 {
  font-size: 22px;
  color: #999;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}
#mobile-nav ul li {
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 10px;
  border-bottom: 1px solid #ebebeb;
}
#mobile-nav ul li a {
  color: #252525;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#mobile-nav ul li a:hover {
  color: #fc6c22;
}
#mobile-nav ul li a.active {
  color: #fc6c22;
}
#mobile-nav.active {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mobile-nav-btn {
  display: none;
  position: absolute;
  z-index: 20000;
  left: 12px;
  margin-top: 37px;
  width: 20px;
  height: 16px;
  cursor: pointer;
  -webkit-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width: 768px) {
  .mobile-nav-btn {
    display: block;
  }
}
.mobile-nav-btn span {
  height: 2px;
  width: 20px;
  background: white;
  position: absolute;
  z-index: 4;
  display: block;
  content: '';
  -webkit-backface-visibility: hidden;
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.mobile-nav-btn span:nth-child(1) {
  top: 0;
}
.mobile-nav-btn span:nth-child(2) {
  top: 7px;
}
.mobile-nav-btn span:nth-child(3) {
  bottom: 0;
}
.mobile-nav-btn.active span:nth-child(1) {
  top: 7px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.mobile-nav-btn.active span:nth-child(2) {
  opacity: 0;
}
.mobile-nav-btn.active span:nth-child(3) {
  bottom: 7px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

footer {
  width: 100%;
  padding: 90px 0 30px 0;
  background: #111;
  text-align: center;
}
@media (max-width: 768px) {
  footer {
    padding: 60px 0 30px 0;
  }
}
footer .footer-menu {
  width: 100%;
}
footer .footer-menu li {
  display: inline-block;
}
footer .footer-menu li a {
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin: 0 20px;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
footer .footer-menu li a:hover {
  color: #fc6c22;
}
footer .footer-menu li a.active {
  color: #fc6c22;
}
@media (max-width: 768px) {
  footer .footer-menu li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
footer img {
  margin-top: 55px;
}
@media (max-width: 768px) {
  footer img {
    margin-top: 25px;
  }
}
footer .copyright {
  display: block;
  font-size: 14px;
  color: #6a6a6a;
  font-weight: 400;
}
@media (max-width: 768px) {
  footer .copyright {
    font-size: 13px;
  }
}
footer .copyright a {
  color: #777;
  text-decoration: underline;
}
footer .copyright a:hover {
  color: white;
}

/* ––––––––––––––––––––––––––––––––

GRID

–––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.col-1-2 {
  width: 50%;
  float: left;
}

.col-1-3 {
  width: 33.33333%;
  float: left;
}

.col-1-4 {
  width: 25%;
  float: left;
}

/* ––––––––––––––––––––––––––––––––

FORMS

–––––––––––––––––––––––––––––––– */
form input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  font-size: 14px;
}
form select {
  display: block;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: none;
  background-color: white;
  background-image: none;
}
form button {
  display: block;
  width: 20%;
  height: 40px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fc6c22;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
  -webkit-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
form button:hover {
  background: #f25403;
}

#job-search {
  background: #ebebeb;
}
@media (max-width: 768px) {
  #job-search {
    background: #333;
  }
}
#job-search.hero {
  text-align: center;
  color: white;
  padding: 120px 0;
  background: #ebebeb url(../img/hero-home.jpg) no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  #job-search.hero {
    padding: 30px 0 10px 0;
  }
  #job-search.hero h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  #job-search.hero {
    padding: 20px 0 5px 0;
  }
  #job-search.hero h1 {
    font-size: 22px;
    line-height: 22px;
  }
}

form#form-job-search {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 768px) {
  form#form-job-search {
    padding: 10px;
  }
}
form#form-job-search .col-input {
  position: relative;
  width: 39.25%;
  margin-right: 0.75%;
  float: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
form#form-job-search .col-input input[type="text"] {
  padding: 0 10px;
  margin-bottom: 0;
  border: none;
}
form#form-job-search .col-input select {
  border: none;
}
@media (max-width: 768px) {
  form#form-job-search .col-input {
    width: 100%;
    margin-right: 0;
  }
  form#form-job-search .col-input:last-of-type {
    margin-top: 10px;
  }
}
form#form-job-search button {
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  form#form-job-search button {
    width: 100%;
    margin-top: 10px;
  }
}

/* ––––––––––––––––––––––––––––––––

JOB LISTINGS

–––––––––––––––––––––––––––––––– */
.job-listings {
  background: #ebebeb;
  padding: 30px 0 90px 0;
}
@media (max-width: 1110px) {
  .job-listings {
    padding: 30px 0 10px 0;
  }
}
@media (max-width: 768px) {
  .job-listings {
    padding: 20px 0 10px 0;
  }
}
.job-listings h2.search-description {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .job-listings h2.search-description {
    margin-bottom: 20px;
  }
}
.job-listings h2.search-description span {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .job-listings h2.search-description span {
    font-size: 16px;
  }
}
.job-listings .container {
  max-width: 1290px;
}
@media (max-width: 1330px) {
  .job-listings .container {
    width: 1070px;
  }
}
@media (max-width: 1110px) {
  .job-listings .container {
    width: 100%;
  }
}

.home .job-listings {
  padding-top: 60px;
  padding-bottom: 120px;
}

/* ––––––––––––––––––––––––––––––––

JOB FILTER COLUMN

–––––––––––––––––––––––––––––––– */
.job-filter-column {
  width: 250px;
  margin-right: 20px;
  float: left;
}
@media (max-width: 1110px) {
  .job-filter-column {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .job-filter-column {
    margin-bottom: 10px;
  }
}
.job-filter-column form {
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.job-filter-column .filter {
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}
.job-filter-column .filter:last-child {
  border-bottom: none;
}
.job-filter-column .filter h4 {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.job-filter-column .filter-buttons {
  padding: 20px;
}
.job-filter-column .filter-buttons button {
  width: 49%;
  margin-right: 2%;
  float: left;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: #fc6c22;
  color: white;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.job-filter-column .filter-buttons button:hover {
  background: #f25403;
}
.job-filter-column .filter-buttons div.btn-cancel {
  width: 49%;
  float: left;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: #bbb;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.job-filter-column .filter-buttons div.btn-cancel:hover {
  background: #a7a7a7;
}
.job-filter-column .ad {
  text-align: center;
  padding: 20px 0;
}
.job-filter-column .ad img {
  display: block;
}
.job-filter-column .ad span {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  color: #999;
  font-weight: 400;
  margin-top: 5px;
}
@media (max-width: 1110px) {
  .job-filter-column .ad {
    display: none;
  }
}

.mobile-filter-toggle {
  display: none;
  margin-bottom: 20px;
}
@media (max-width: 1110px) {
  .mobile-filter-toggle {
    display: block;
  }
}
@media (max-width: 768px) {
  .mobile-filter-toggle {
    margin-bottom: 10px;
  }
}
.mobile-filter-toggle button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: #1b7de4;
  color: white;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.mobile-filter-toggle button:hover {
  background: #1769c0;
}

/* ––––––––––––––––––––––––––––––––

JOB LIST COLUMN

–––––––––––––––––––––––––––––––– */
#job-list-column {
  width: 1020px;
  float: left;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 1330px) {
  #job-list-column {
    width: 800px;
  }
}
@media (max-width: 1110px) {
  #job-list-column {
    width: 100%;
  }
}
#job-list-column .job {
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}
#job-list-column .job h2.job-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
#job-list-column .job h2.job-title a {
  color: #1b7de4;
}
#job-list-column .job h2.job-title a:hover {
  text-decoration: underline;
}
#job-list-column .job span.featured-tag {
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
#job-list-column .job span.featured-tag a {
  color: white;
  background: #1b7de4;
  padding: 3px 6px 2px 6px;
}
#job-list-column .job span.job-carrier {
  font-size: 13px;
  font-weight: 400;
  color: #888;
}
#job-list-column .job span.job-carrier a {
  color: #1b7de4;
  font-weight: 500;
}
#job-list-column .job span.job-carrier a:hover {
  text-decoration: underline;
}
#job-list-column .job p.job-excerpt {
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  #job-list-column .job p.job-excerpt {
    display: none;
  }
}
#job-list-column .job .job-locations {
  margin-top: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #999;
}
#job-list-column .job .job-locations strong {
  color: #252525;
  font-weight: 700;
}
#job-list-column .job .job-radius {
  margin-top: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #999;
}
#job-list-column .job .job-radius strong {
  color: #252525;
  font-weight: 700;
}
#job-list-column .ad {
  padding: 20px 20px 5px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 808px) {
  #job-list-column .ad {
    display: none;
  }
}
#job-list-column .ad img {
  display: block;
  margin: 0 auto;
}
#job-list-column .ad span {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  color: #999;
  font-weight: 400;
  margin-top: 5px;
}

/* ––––––––––––––––––––––––––––––––

PAGINATION

–––––––––––––––––––––––––––––––– */
.pagination {
  width: 100%;
  padding: 30px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
  color: #999;
}
.pagination li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #999;
  color: #999;
}
.pagination li a.active {
  background: #1b7de4;
  border-color: #1b7de4;
  color: white;
}
.pagination li i {
  font-size: 11px;
}

.featured-carriers {
  padding: 90px 0;
  background: white;
}
.featured-carriers .row {
  max-width: 710px;
  margin: 30px auto 0 auto;
}
@media (max-width: 600px) {
  .featured-carriers .row {
    max-width: 350px;
  }
}
.featured-carriers .col-1-4 {
  border-right: 1px solid #ebebeb;
  padding: 20px 0;
}
.featured-carriers .col-1-4:last-child {
  border-right: none;
}
.featured-carriers .col-1-4 a {
  -webkit-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.featured-carriers .col-1-4 a:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.featured-carriers .col-1-4 img {
  width: 100%;
}
@media (max-width: 600px) {
  .featured-carriers .col-1-4 {
    width: 50%;
  }
  .featured-carriers .col-1-4:nth-child(2) {
    border-right: none;
  }
  .featured-carriers .col-1-4:nth-child(1), .featured-carriers .col-1-4:nth-child(2) {
    border-bottom: 1px solid #ebebeb;
  }
}
.featured-carriers p {
  color: #777;
}

.popular-searches {
  padding: 90px 0;
  border-top: 1px solid #ebebeb;
  background: white;
}
.popular-searches .row {
  margin-top: 30px;
}
.popular-searches li {
  display: block;
  margin: 5px 0;
}
.popular-searches a {
  color: #fc6c22;
  font-size: 14px;
  font-weight: 700;
}
.popular-searches a:hover {
  text-decoration: underline;
}
.popular-searches h3 {
  font-size: 22px;
  color: #777;
  font-weight: 400;
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
